In [1]:
import pandas as pd

In [2]:
file_path = '/Users/jameskenny/Documents/GitHub/mini_project_week_3/Life Expectancy Data.csv'
life_expectancy_data = pd.read_csv(file_path)

In [12]:
from cleaning_functions import *

In [13]:
data_frame_overview(life_expectancy_data)

Column names:
 Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

Dimensions: (2938, 22)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
None

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

In [14]:
null_check(life_expectancy_data)

Total null values per row:
0       0
1       0
2       0
3       0
4       0
       ..
2933    0
2934    0
2935    0
2936    0
2937    0
Length: 2938, dtype: int64

Total null values per column:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [15]:
dup_check(life_expectancy_data)

Duplicates found: False

Number of duplicates: 0

In [10]:
dropna_rows_cols(life_expectancy_data, 3, 3)

Deleted 0 rows
Deleted 0 columns

In [18]:
#Creating filtered data_frame
selected_columns = ['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', ' BMI ', 'under-five deaths ', 'Total expenditure', 'GDP', 'Population', 'Schooling']

life_expectancy_data_clean = life_expectancy_data[selected_columns].copy()

data_frame_overview(life_expectancy_data_clean)

Column names:
 Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', ' BMI ',
       'under-five deaths ', 'Total expenditure', 'GDP', 'Population',
       'Schooling'],
      dtype='object')

Dimensions: (2938, 14)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 2938 non-null   object
 1   Year                    2938 non-null   int64
 2   Status                  2938 non-null   object
 3   Life expectancy         2928 non-null   float64
 4   Adult Mortality         2928 non-null   float64
 5   infant deaths           2938 non-null   int64
 6   Alcohol                 2744 non-null   float64
 7   percentage expenditure  2938 non-null   float64
 8    BMI                    2904 non-null   float64
 9   under-five deaths       2938 non-null   int64
 10  Total expenditure       2712 non-null   float64
 11  GDP                     2490 non-null   float64
 12  Population              2286 non-null   float64
 13  Schooling               2775 non-null   float64
dtypes: float64(9), int64(3), object(2)
memory usage: 321.5+ KB
None

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,16.7,102,9.20,553.328940,2883167.0,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,16.2,106,9.42,445.893298,284331.0,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,15.7,110,8.33,373.361116,2729431.0,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,15.2,113,6.73,369.835796,26616792.0,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,14.7,116,7.43,272.563770,2589345.0,8.1

In [20]:
#formatting column names
format_column_names(life_expectancy_data_clean, column_name_mapping = {'status':'development_status',})

New column names:
 Index(['country', 'year', 'development_status', 'life_expectancy',
       'adult_mortality', 'infant_deaths', 'alcohol', 'percentage_expenditure',
       'bmi', 'under-five_deaths', 'total_expenditure', 'gdp', 'population',
       'schooling'],
      dtype='object')

In [21]:
#export data frame as csv
life_expectancy_data_clean.to_csv('life_expectancy_data_clean.csv', index=False)

In [22]:
data_frame_overview(life_expectancy_data_clean)

Column names:
 Index(['country', 'year', 'development_status', 'life_expectancy',
       'adult_mortality', 'infant_deaths', 'alcohol', 'percentage_expenditure',
       'bmi', 'under-five_deaths', 'total_expenditure', 'gdp', 'population',
       'schooling'],
      dtype='object')

Dimensions: (2938, 14)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 2938 non-null   object
 1   year                    2938 non-null   int64
 2   development_status      2938 non-null   object
 3   life_expectancy         2928 non-null   float64
 4   adult_mortality         2928 non-null   float64
 5   infant_deaths           2938 non-null   int64
 6   alcohol                 2744 non-null   float64
 7   percentage_expenditure  2938 non-null   float64
 8   bmi                     2904 non-null   float64
 9   under-five_deaths       2938 non-null   int64
 10  total_expenditure       2712 non-null   float64
 11  gdp                     2490 non-null   float64
 12  population              2286 non-null   float64
 13  schooling               2775 non-null   float64
dtypes: float64(9), int64(3), object(2)
memory usage: 321.5+ KB
None

,country,year,development_status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,bmi,under-five_deaths,total_expenditure,gdp,population,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,16.7,102,9.20,553.328940,2883167.0,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,16.2,106,9.42,445.893298,284331.0,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,15.7,110,8.33,373.361116,2729431.0,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,15.2,113,6.73,369.835796,26616792.0,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,14.7,116,7.43,272.563770,2589345.0,8.1